.header{
    background-color: dark;
    color: white;
}
.header h1{
    margin: 0px;
    padding-top: 0px;
    text-align: center;
}
.header h1 img{
    width: 7%;
    height: auto;
}

.topper{
    padding-top:50px;
    height:1000px;
    align-items: center;
    display: flex;
    background-color: white;
}
.topper h3{
    align-items: center;
    display: flex;
}
.topper #curve_chart{
    height: 700px;
    width: 1200px;
}
.topper .options{
    display: grid;
}

.topper .options select{
    margin-bottom: 30px;
}

.middle{
    background-color: rgb(211,211,211);
    padding-bottom:300px;
    height:500px;
}
.middle h3{
    padding-top:0px;
    align-items: center;
    display: flex;
}

.middle h4{
    margin: 0px;
    padding-top: 0px;
    text-align: center;
}

.bottom{
    align-items: center;
    display: flex;
    background-color: white;
}

.footer{
    background-color: dark;
    color: white;
    height: 30px;
}

.footer h6{
    color: white;
    text-align: center;
}

